extends ../layout

block content
    h1 Employees#edit #{employee.id}
    - var updateUrl = '/employees/update/'+employee.id
    form(action=updateUrl method='POST')
        input(type='hidden' name='_method' value='PUT')
        label(for='id') ID
        input(type='text' name='id' value=employee.id)
        
        br
    
        label(for='name') Name
        input(type='text' name='name' value=employee.name)
        
        br
        
        label(for='surname') Surname
        input(type='text' name='surname' value=employee.surname)
        
        br
        
        label(for='level') Level
        input(type='text' name='level' value=employee.level)
        
        br
        
        label(for='salary') Salary
        input(type='text' name='salary' value=employee.salary)
        
        br
        br
        
        input(type='submit' value='Update employee')