extends ../layout

block content
    h1 Employees#index
    p Find me in views/employees/index.pug
    
    a(href='/employees/new') Add employee
    
    br
    br
    
    table(border = '1')
        thead
            tr
                td ID
                td Name
                td Surname
                td Level
                td Salary
                td 
                td 
        tbody
            each employee in employees
                tr
                    td #{employee.id}
                    td #{employee.name}
                    td #{employee.surname}
                    td #{employee.level}
                    td #{employee.salary}
                    td
                        - var updateUrl= '/employees/edit/'+employee.id
                        a(href=updateUrl) Edit
                    td
                        - var deleteUrl= '/employees/destroy/'+employee.id
                        a(href=deleteUrl) Destroy